# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  gh-pages-deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Setup Node.js for use with actions
        uses: actions/setup-node@v2.1.4
        with:
          version: 15.x
      - name: Checkout branch
        uses: actions/checkout@v2
        
      - name: Clean install deps
        run: npm ci
      
      - name: Run deploy script
        env:
          GITHUB_USERNAME: ${{ secrets.USER_NAME }}
          GITHUB_EMAIL: ${{ secrets.EMAIL }}
        run: |
          git config user.name "$env:GITHUB_USERNAME" && git config user.email "$env:GITHUB_EMAIL"
          npm run deploy
